$border-radius-button: 3px;
$border-radius-tag: 10px;
$base-color: #9147ff;
$bg-color: #050404;
$bg-color-secondary: #18181b;
$bg-color-button: #4f4e51;
$text-color: #e4e4e6;
$breakpoint-mobile: 768px;
$base-font-size: 14px;
$base-margin: 9px;
$border-bottom: 1px solid
  rgba(
    $color: #fff,
    $alpha: 0.1,
  );

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: inherit;
}
