$border-radius-button: 3px;
$border-radius-tag: 10px;
$base-color: #9147ff;
$bg-color: #050404;
$bg-color-secondary: #18181b;
$bg-color-button: #4f4e51;
$text-color: #e4e4e6;
$breakpoint-tablet: 768px;
$base-font-size: 14px;
$base-margin: 9px;
